{% extends "base.html" %}

{% block content %}
<ul>
    <li>{{post.title}}</li>
    <li>{{post.date}}</li>
    <li>{{post.body}}</li>
</ul>
<div>
    {% if user.is_authenticated %}
    <ul>
        <li><a href="/cms/edit/{{slug}}/">Edit this post</a></li>
        {% if user.is_staff %}
        <li><a href="/cms/delete/{{slug}}/">Delete this post</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
<form action="/comments/post/{{slug}}/" method="post">
    {% csrf_token %}
    <h2>Add Comment</h2> 
    {{ comment_form.non_field_errors}}
    {% for field in comment_form %}
        {% if field.is_hidden %}
            <div>{{field}}</div>
        {% else %}
            <div>
                {{field.errors}}
                {{field.label_tag}} : {{field}}
            </div>
        {% endif %}
    {% endfor %}
    <input type="submit"/>
</form>



{% if comments %}
<h2>Comments:</h2>
    {% for comment in comments %}
    <div class="comment" >
        <ul>
            <li>{{comment.author}}</li>
            <li>{{comment.date_time}}</li>
            <li>{{comment.body}}</li>
        </ul>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
