{% extends "base.html" %}

{% block content %}
{% if post_list %}
<ul>
    {% for post in post_list %}
        <li><a href="/{{post.slug}}/">{{post.title}}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p></p> No blog posts yet </p>
{% endif %}

<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <br/>
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    <br/>
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}


</div>
{% endblock %}
